
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="{% static 'signin.css' %}">
    <title>Sign Up</title>
</head>

<body>

    <form method="post" action="/signup" class="bg">
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            <strong>Message:</strong> {{ message }}
        </div>
        {% endfor %}

        <h3>Create your account!</h3>

        {% csrf_token %}
        <div class="form-group">
            <label for="username"></label>
            <input type="text" class="form-control" id="username" name="username"
                placeholder="Username (use only letters and numbers)" Required>
        </div><br>
        <div class="form-group">
            <label for="fname"></label>
            <input type="text" class="form-control" id="fname" name="fname" placeholder="Enter Your First Name"
                Required>
        </div><br>
        <div class="form-group">
            <label for="lname"></label>
            <input type="text" class="form-control" id="lname" name="lname" placeholder="Enter Your Last Name" Required>
        </div><br>
        <div class="form-group">
            <label for="email"></label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter Your Email Address"
                Required>
        </div><br>
        <div class="form-group">
            <label for="pass1"></label>
            <input type="password" class="form-control" id="pass1" name="pass1" placeholder="Create Your Password"
                Required>
        </div><br>
        <div class="form-group">
            <label for="pass2"></label>
            <input type="password" class="form-control" id="pass2" name="pass2" placeholder="Confirm Your Password"
                Required>
        </div><br>
        <button type="submit" class="btn btn-primary sign">Sign Up</button>
        <a href="/" class="btn btn-primary sign">Home</a>
    </form>
</body>

</html>